.boardPanel_sec {
    padding: 40px 0;
    background: #ebefd9;

    .boardPanel_board {
        padding: 0px 34px 0;
        position: relative;

        &+.boardPanel_board {
            padding-top: 48px;
        }

        .boardPanel_board_header {
            padding: 0px 80px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                bottom: 0;
                left: 0;
                right: 0;
                background: #fffeef;
                border: 3px solid #b7a98f;
                border-bottom: 0;
            }

            h3 {
                text-align: center;
                padding: 7px 12px;
                border: 3px solid #816042;
                border-radius: 12px;
                background: #b7a98f;
                color: #ffffff;
                z-index: 5;
                position: relative;
                min-height: 68px;
                color: #ebefd9;
                font-size: 40px;
                line-height: 48px;
                font-style: italic;
            }
        }

        .boardPanel_board_body {
            padding: 24px 40px;
            background: #fffeef;
            border: 3px solid #b7a98f;
            border-top: 0;

            p {
                margin-bottom: 24px;
                font-size: 15px;
                line-height: 23px;
            }

            > ul {
                list-style-type: none;
                margin: 0;

                > li {
                    margin-bottom: 24px;
                    padding-left: 24px;
                    position: relative;
                    &::before {
                        position: absolute;
                        top: 8px;
                        left: 2px;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: #000000;
                        content: '';
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                h4 {
                    margin-bottom: 8px;
                    font-size: 15px;
                    line-height: 23px;
                    font-style: italic
                }
            }

            .listBody > ul {
                list-style-type: none;
                > li {
                    padding-left: 24px;
                    margin-bottom: 8px;
                    position: relative;
                    &::before {
                        position: absolute;
                        top: 8px;
                        left: 2px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        content: '';
                        border: 1px solid #000000;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            li {
                font-size: 15px;
                line-height: 23px;
            }
        }

        .boardPanel_board_count {
            height: 68px;
            width: 68px;
            background: #a17d60;
            border-radius: 12px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: #ffffff;
            position: absolute;
            left: 0;
            z-index: 10;
            line-height: 1;
        }
    }
}

.listBody > ul {
    list-style-type: none;
    > li {
        padding-left: 24px;
        margin-bottom: 8px;
        position: relative;
        &::before {
            position: absolute;
            top: 8px;
            left: 2px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            content: '';
            border: 1px solid #000000;
            background: #000;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.projectNavigation {
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(74,155,155,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(74,155,155,0.3);
        background-color: rgb(74,155,155);
    }
}